@charset "utf-8";
/* sudoku_styles.css */
/*Styles below for phone screen resolution adjustment*/

/*html
{
	height:100%;background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(to bottom right, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to bottom right, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat: no-repeat;
	margin:0;
}*/
body
{
	/*background-color:#1abbb1;
	#36b8e9*/
	/*height:100%;207cca*/
	
}
header
{
	font-family:"Rockwell", Arial, Helvetica, sans-serif;
	color:#FFF;
	-webkit-font-smoothing: antialiased !important;
	font-size:40px;
	outline:#000;
	outline-width:thick;
	text-align:center;
}
h1, label
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:oblique;
	color:#FFF;
	-webkit-font-smoothing: antialiased !important;
}
table 
{
	margin: 0em auto;
	
	position:relative;
	background: #FFF;
	border: thin solid black;
	border-collapse: collapse;
	left: -6px;
}
/*td 
{
  /*height:30px !important;
  width:30px !important;
  border:1px solid;
  text-align:center;
  padding:0px;
/*}*/
tr td
{
	padding:0px;
}
td input
{
  height:30px !important;
  width:30px !important;

  /*border:1px solid;*/
  text-align:center;
  font-size:22px;
  font-family:"Times New Roman", Times, serif;
  border:none;
}
td input:focus
{
	background-color:#FF0;
}
td:first-child 
{
  /*border-left:solid blue;*/
}
td:nth-child(3n) 
{
  border-right:solid black;
}
tr:first-child td
{
  /*border-top:solid blue;*/
}
td:nth-child(2n) tr
{
	border-top: solid black;
}
tr:nth-child(2n)
{
	/*border-top: solid;*/
}
tr:nth-child(3n) td 
{
  border-bottom:solid black;
}
tr:last-child td
{
	border-bottom:none;
}
td:last-child
{
	border-right:none;
}
.modal
{
	display:none;/*hidden by default*/
	position:absolute;
	width:300px;
	height:300px;
	overflow:auto;
	background-color:white;
	margin-top:-350px;
}
.modal header
{
	color:white;
	background-color:red;
}
/* The Close Button */
.close 
{
    color: #fff;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.mdl-layout-title{display:block;position:relative;font-family:"Roboto","Helvetica","Arial",sans-serif;font-size:20px;line-height:1;letter-spacing:.02em;font-weight:400;box-sizing:border-box}

.btn 
{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 0.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  background: #0099cc;
  color: #ffffff;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
 .btn.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn.gradient:active, .btn.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
 .btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: #33a6cc;
}
.btn:active, .btn.active {
    background: #007299;
    box-shadow: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}